.title {
    color: #b2ebf8;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.input {
    width: 50vh;
    border-radius: 25px;
    padding: 10px;
    font-size: 1.2rem
}

.taskList {
    border-radius: 10px;
    overflow: 'hidden'
}

.btn-close:focus {
    outline: none;
    box-shadow: none;
}